## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
##
 # -- Globals settings
global:
  ## As:
  ## imageRegistry: "docker.io"
  # -- Global image registry
  imageRegistry: ""
  ## As:
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  # -- Global image pull secrets
  imagePullSecrets: []
# -- Namespace to install Matomo in, default matomo.
namespace: matomo
matomo:
  # -- Image registry to use.
  imageRegistry: ""
  ## As:
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  # -- Image pull secrets for Matomo.
  imagePullSecrets: []
  # -- Which image to use for Matomo deployment.
  image: digitalist/matomo:5.7.1
  # -- run container as user id.
  runAsUser: 82
  # -- Install command. If already installed, it just creates the needed config.
  installCommand: ./console plugin:activate ExtraTools && ./console matomo:install --install-file=/tmp/matomo/install.json --force --do-not-drop-db
  # Post install for helm chart. Starts a post-install-job.
  postInstallSleepTime: 5
  postInstallCommand: ""
  preUpgradeSleepTime: 5
  preUpgradeCommand: ""
  extralabels: {}
  readinessProbe: {}
  livenessProbe: {}
  ## matomo:
  ##   env:
  ##     - name: BAR
  ##       value: foo
  ##     - name: FOO
  ##       valueFromSecret:
  ##         secretName: foo
  ##         key: bar
  # -- Env variables to inject, if any.
  env: []
  ## If you have a premium license for plugins, set it here.
  ## you need to create the secret before referring it.
  ## As:
  ## license:
  ##   secretKeyRef:
  ##     name: matomo-license
  ##     key: matomo-license
  license:
  ingress:
    enabled: true
    extralabels: {}
    annotations: {}
  cli:
    replicas: 1
    enabled: true
  cronJobs:
    coreArchive:
      enabled: true
      labels:
        name: matomo-jobs-corearchive
        instance: matomo
        component: cronjob
        partOf: matomo
        managedBy: helm
      schedule: "*/60 * * * *"
      concurrencyPolicy: Allow
      activeDeadlineSeconds: 43200
      command: ./console core:archive --disable-scheduled-tasks
    scheduledTasks:
      php:
      enabled: true
      labels:
        name: matomo-jobs-scheduled-tasks
        instance: matomo
        component: cronjob
        partOf: matomo
        managedBy: helm
      schedule: "*/60 * * * *"
      activeDeadlineSeconds: 43200
      command: ./console scheduled-tasks:run
  dashboard:
    sidecars: []
    ## added like this:
    # sidecars:
    # - name: fpm-metrics
    #   image: hipages/php-fpm_exporter:2.2.0
    #   imagePullPolicy: IfNotPresent
    #   resources:
    #     limits:
    #       cpu: 500m
    #       memory: 256Mi
    #     requests:
    #       cpu: 40m
    #       memory: 32Mi
    enabled: true
    replicas: 1
    loadbalancer: false
    hostname: my.host
    tls: false
    firstuser:
      username: admin
      password: admin123
      email: foo@example.com
    nginx:
      nginxWorkerProcesses: 5
      image: ''
      # conf:
      #   nginx.conf: |
      #     worker_processes 5;
      #     load_module modules/ngx_http_geoip2_module.so;
      #     ...
      #   fastcgi_params: |
      #     fastcgi_param   COUNTRY_CODE            $geoip2_data_country_code;
      #     fastcgi_param   QUERY_STRING            $query_string;
      #     fastcgi_param   REQUEST_METHOD          $request_method;
      #     ...
      #   mime.types: |
      #     types {
      #       text/html                                        html htm shtml;
      #       text/css                                         css;
      #       text/xml                                         xml;
      #       ...
      conf: ''
      livenessProbe:
        exec:
          command:
          - /bin/sh
          - -c
          - "[ -f /tmp/nginx.pid ] && ps -A | grep nginx"
        initialDelaySeconds: 10
        periodSeconds: 5
      readinessProbe:
        httpGet:
          scheme: HTTP
          path: /index.php
          port: 8080
        initialDelaySeconds: 10
        periodSeconds: 5
    ingressClassName: ""
    ingress:
      annotations:
        digitalist.cloud/instance: "matomo"
  queuedTrackingMonitor:
    enabled: true
  queuedTrackingProcess:
    replicas: 1
  tracker:
    enabled: true
    replicas: 1
    hostname: my.host
    tls: false
    loadbalancer: false
    nginx:
      resources:
      nginxWorkerProcesses: 5
      livenessProbe:
        exec:
          command:
          - /bin/sh
          - -c
          - "[ -f /tmp/nginx.pid ] && ps -A | grep nginx"
        initialDelaySeconds: 10
        periodSeconds: 5
      readinessProbe:
        httpGet:
          scheme: HTTP
          path: /matomo.js
          port: 8080
        initialDelaySeconds: 10
        periodSeconds: 5
    phpfpm:
      type: ondemand
      max_children: 75
      process_idle_timeout: 600s
      max_requests: 500
    ingressClassName: ""
    ingress:
      annotations:
        digitalist.cloud/instance: "matomo"
nginx:
  image: digitalist/nginx:1.21.6
  imagePullSecrets: []
  runAsUser: 100
db:
  hostname: matomo-db-mysql
  password:
    secretKeyRef:
      name: matomo-db-mysql
      key: mysql-root-password
  name: matomo
  username: root
  prefix: matomo_
# -- Extra secrets
extraSecrets:
  create: false
  data: {}
# * secrets need to base64 encoded.
#  data:
#    name: Zm9vCg==
#    bar: YmFyCg==
# -- Extra services
extraServices: {}
#  - name: foo
    ## Service port type
#    type: ClusterIP
    ## Service protocol
#    protocol: TCP
    ## The container target port
#    containerPort: 12001
    ## The service port
#    port: 12001
#    selector:
#      app: matomo-dashboard
    ## The node port (only relevant for type LoadBalancer or NodePort)
#    nodePort:
    ## The cluster ip address (only relevant for type LoadBalancer or NodePort)
#    clusterIP:
    ## The loadbalancer ip address (only relevant for type LoadBalancer)
#    loadBalancerIP:
# -- Extra configMaps
extraConfigMaps:
  create: false
  data: {}
# data:
#   my.ini: |
#     extension=foo.so
#     foo.socket=tcp://bar:9309
# -- Extra volumes
extraVolumes: []
# extraVolumes:
# - name: mySecretVolume
#   secret:
#     secretName: matomo-extra-secrets
# - name: my.ini
#   configMap:
#     name: matomo-additional-config-maps
#     items:
#     - key: "my.ini"
#       path: "my.ini"
# -- Extra volumes to mount
extraVolumeMounts: []
# extraVolumeMounts:
# - name: mySecretVolume
#   mountPath: /foo/secrets/mySecretVolume/
# - name: my.ini
#   mountPath: /usr/local/etc/php/conf.d/my.ini
#   subPath: my.ini

# -- Node labels for pod assignment.
nodeSelector: {}

# -- Tolerations for pod assignment
tolerations: []
